body {
    text-align: center;
}

#searchBar {
    margin-top: 50px;
    margin-left: -5px;
}

#searchHistory {
    margin-top: 50px;
    margin-left: -5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
}

#curWeatherImg {
    width: 100%;
}

#curWeatherContainer {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 20px;
}

#curLocation {
    position: absolute;
    top: 40px;
    left: 40px;
}

#curDate {
    position: absolute;
    bottom: 30px;
    left: 60px;
}

#curTemp {
    position: absolute;
    bottom: 0px;
    right: 60px;
}

span {
    display: block;
}

#curExtraContainer {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 5px;
    margin-top: 20px;
}

.forecast {
    background-image: linear-gradient( rgb(0, 21, 43), rgb(93, 174, 255));
    border: 3px solid darkblue;
    border-radius: 20px;
    margin: 10px;
}